<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Wisdom Classes </title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/css_file.css">
	<link rel="stylesheet" type="text/css"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
	<!-- <link rel="stylesheet" type="text/css" href="/views/js/main.js"> -->
	<!-- {{!-- <link rel="stylesheet" type="text/css" href="responsive/responsive.css"> --}} -->
	<!-- <link rel="stylesheet" href="images/slider/css/swiper-bundle.min.css"> -->
    <!-- <link rel = "stylesheet" href = "images/slider/css/slider_style.css"> -->
</head>


<!-- <script type="text/javascript">
    document.querySelector('#show_add_ques').addEventListener("click",function(){
        document.querySelector('.form-box_add_ques').classList.add('active');
        // console.log("clicked");
    })
    document.querySelector('.form-box_add_ques .close_btn_add_ques').addEventListener("click",function(){
        document.querySelector('.form-box_add_ques').classList.remove('active');
    })
</script> -->




<body>
	<section id="navbar">
		<nav class="navbar navbar-expand-lg py-3 navbar-dark  shadow-sm">
			<div class="container">
				<a href="#" class="navbar-brand">
					<img src="ims/wisdom.logo.jpeg" width="70" alt="" class="d-inline-block align-middle mr-2">
					<span class="text-uppercase font-weight-bold">WISDOM CLASSES</span>
				</a>

				<button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
					class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

				<div id="navbarSupportedContent" class="collapse navbar-collapse">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item "><a href="/teacher/<%=te_slug  %>" class="nav-link">BACK<span
									class="sr-only">(current)</span></a></li>
						<li class="nav-item" id="show_add_ques"><a href="/quiz/teacher/<%=te_slug  %>/<%=slug  %>/add" class="nav-link">Add Question</a></li>
						<li class="nav-item"><a href="#" id="downloads-btn" class="nav-link">Edit</a></li>
						<li class="nav-item active"><a href="#" id="contact-us-btn" class="nav-link"><%=name  %></a></li>
						<!-- <li class="nav-item"><a href="#" id="faq-btn" class="nav-link">FAQs</a></li> -->
					</ul>
				</div>
			</div>
		</nav>
	</section>
	<!-- /*..............  NAVBAR END HERE  .........*/ -->


    <div class = "quiz_teacher_1">
        <div class="quiz_head_1">
            <h2 class="quiz_head_11_creator"></h2>
            <h2 class="quiz_head_11"><%=quiz_name  %></h2>
            <form action="/quiz/teacher/<%=te_slug  %>/<%=slug  %>/start" method="post">
                <button class="quiz_1_attempt_btn",id="attempt_quiz"><%=quiz_status  %></button>
            </form>
        </div>
        <!-- <div class="quiz_cards_1">
            <h3> Question 1 </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, voluptate aliquid? Officiis animi suscipit labore voluptates ullam, voluptatem qui laudantium nisi consequatur, maxime esse expedita accusamus ducimus. Error, odit voluptate?orem ipsum dolor sit amet consectetur adipisicing 
            </p>
            <ul class="options_quiz_teacher_1">
                <li>Option 1 : Lorem ipsum dolor sit.</li>
                <li>Option 2 : Lorem ipsum dolor sit. sdhgkl </li>
                <li>Option 3 : Lorem ipsum dolor sit.</li>
                <li>Option 4 : Lorem ipsum dolor sit.</li>
            </ul>
            <a href="#"><button>Click Here</button></a>
            
        </div>

        <div class="quiz_cards_1">
            <h3> Question 2 </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, voluptate aliquid? Officiis animi suscipit labore voluptates ullam, voluptatem qui laudantium nisi consequatur, maxime esse expedita accusamus ducimus. Error, odit voluptate?
            </p>
            <ul class="options_quiz_teacher_1">
                <li>Option 1 : Lorem ipsum dolor sit.</li>
                <li>Option 2 : Lorem ipsum dolor sit. sdhgkl </li>
                <li>Option 3 : Lorem ipsum dolor sit.</li>
                <li>Option 4 : Lorem ipsum dolor sit.</li>
            </ul>
            <a href="#"><button>Click Here</button></a>
            
        </div>

        <div class="quiz_cards_1">
            <h3> Question 3 </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, voluptate aliquid? Officiis animi suscipit labore voluptates ullam, voluptatem qui laudantium nisi consequatur, maxime esse expedita accusamus ducimus. Error, odit voluptate?
            </p>
            <ul class="options_quiz_teacher_1">
                <li>Option 1 : Lorem ipsum dolor sit.</li>
                <li>Option 2 : Lorem ipsum dolor sit. sdhgkl </li>
                <li>Option 3 : Lorem ipsum dolor sit.</li>
                <li>Option 4 : Lorem ipsum dolor sit.</li>
            </ul>
            <a href="#"><button>Click Here</button></a>
            
        </div> -->
        <% let i=1 %>
        <% articles.forEach(element => {%>
            <div class="quiz_cards_1">
                <h3> Question <%=i %> </h3>
                <p>
                    <%=element.question  %>
                </p>
                <ul class="options_quiz_teacher_1">
                    <li>Option 1 : <%=element.option1 %></li>
                    <li>Option 2 :<%=element.option2 %> </li>
                    <li>Option 3 :<%=element.option3 %> </li>
                    <li>Option 4 :<%=element.option4 %> </li>
                    <li>Correct Answer :<%=element.correctAns %> </li>
                </ul>
                <!-- <a href="#"><button>Click Here</button></a> -->
                
            </div>
        <% i=i+1 %>

        <%}); %>

    </div>
<!-- <script type="text/javascript">
    const attempt_quiz_button=document.getElementById("attempt_quiz")
    console.log(attempt_quiz_button)
    attempt_quiz_button.addEventListener('click',()=>{
        if(attempt_quiz_button.innerText==="Start quiz"){
            attempt_quiz_button.innerText="End quiz"
        }
        else{
            attempt_quiz_button.innerText="quiz ended"
        }
    })
</script> -->

</body>

</html>